__pycache__/
*.pyc
.env
.DS_Store
.venv/

# Raw per-account scraped files
data/tedxawaji_*.csv
data/tedxhamamatsu_*.csv
data/tedxkeiou_*.csv
data/tedxkobe_*.csv
data/tedxkyoto_*.csv
data/tedxutokyo_*.csv
data/tedxwasedau_*.csv
